appdirs==1.4.3
argon2-cffi==20.1.0
asgiref==3.2.10
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bleach==3.2.1
CacheControl==0.12.6
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.4.0
Django==3.1.1
django-cors-headers==3.5.0
django-filter==2.3.0
djangorestframework==3.11.1
entrypoints==0.3
filelock==3.0.12
gcloud==0.17.0
googleapis-common-protos==1.52.0
html5lib==1.0.1
httplib2==0.18.1
idna==2.8
ipaddr==2.2.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
jws==0.1.3
lazr.uri==1.0.5
lockfile==0.12.2
MarkupSafe==1.1.1
mistune==0.8.4
msgpack==0.6.2
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.1.4
oauth2client==3.0.0
packaging==20.3
pandocfilters==1.4.2
parso==0.7.1
pep517==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
progress==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
psycopg2==2.8.6
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.4.3
Pygments==2.7.1
pyparsing==2.4.6
Pyrebase==3.0.27
pyrsistent==0.17.3
python-dateutil==2.8.1
python-jwt==2.0.1
pytoml==0.1.21
pytz==2020.1
pyzmq==19.0.2
requests==2.11.1
requests-toolbelt==0.7.0
retrying==1.3.3
rsa==4.6
Send2Trash==1.5.0
six==1.14.0
sqlparse==0.3.1
terminado==0.9.1
testpath==0.4.4
tornado==6.0.4
traitlets==5.0.4
urllib3==1.25.8
virtualenv==20.0.31
virtualenv-clone==0.5.4
wadllib==1.3.4
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.2.0
